@model MedRoute.Models.MedicalRecord;

@{
    ViewData["Title"] = "Booking";
    var myData = TempData["ErrMess"] as string;
    var isSucces = TempData["isSucces"] as bool?;
    var booking = ViewBag.LatestBooking as Booking;
    var user = @ViewBag.User as User;
    var medicalRecord = @ViewBag.MedicalRecord as MedicalRecord;
}

<!-- contact section -->
<section id="labels">
    <div class="container">
        <div class="dl">
            <div class="brand">
                <h2>
                    <strong>SỐ CỦA BẠN</strong>
                </h2>
            </div>
            <div class="discount emerald">
                @((medicalRecord != null) ? $"{medicalRecord.BookingOrder}" : "Chưa đăng ký số")
                <div class="type">
                    Phòng siêu âm
                </div>
            </div>
            <div class="descr">
                <strong>
                    Vui lòng theo dõi số thứ tự trên màn hình
                </strong>
                <!-- sit ea detraxit menandri mediocritatem, in mel dicant mentitum.  -->
            </div>
            <div class="ends">
                <small>
                    * Conditions and restrictions apply.
                </small>
            </div>
            <div class="coupon midnight-blue">
                <a data-toggle="collapse" href="#code-2" class="open-code">@((medicalRecord != null) ? $"Thông tin số {medicalRecord.BookingOrder}"  : "Nhập thông tin")</a>
                <div id="code-2" class="collapse in code">
                    <!-- MNO123ST -->
                    <section id="bocso" class="doctor_section layout_padding contact_section layout_padding">
                        <div class="container">
                            <div class="row">
                                <div class="form_container contact-form" style="margin-top: 0px;">
                                    <form id="mainForm" href="#mainForm" action="~/Booking/@((user != null) ? "BookUser" : "BookGuest" )" method="post">
                                        @* BookingId *@
                                        <input style="display:none" name="BookingId" id="BookingId" type="text" value="@ViewBag.LatestBooking?.BookingId" />
                                        @* FullName *@
                                        <label for="form-field-name" class="elementor-field-label">
                                            Họ tên
                                        </label>
                                        <input name="FullName" id="FullName" type="text" placeholder="Nhập họ và tên" required="required" aria-required="true"
                                               @*  @((user != null) ? "readonly" : "") *@
                                               value="@((user != null) ? user.FullName : "")" />
                                        @* DateOfBirth *@
                                        <label for="form-field-name" class="elementor-field-label">
                                            Năm sinh
                                        </label>
                                        <input name="DateOfBirth" id="DateOfBirth" type="date" placeholder="Nhập ngày tháng năm sinh" required="required" aria-required="true"
                                               value="@((user != null && user.DateOfBirth.HasValue) ? user.DateOfBirth.Value.ToString("yyyy-MM-dd") : "")" />


                                        @* Gender *@
                                        <label for="form-field-name" class="elementor-field-label">
                                            Giới tính
                                        </label>
                                        <div style="display:flex; justify-content: space-around;">
                                            <div>
                                                <label>Male</label>
                                                <input type="radio" id="male" name="Gender" value="true" required
                                               @*  @((user != null) ? "readonly" : "") *@
                                                    @(user != null && user.Gender.GetValueOrDefault() ? "checked" : "")>
                                            </div>
                                            <div>
                                                <label>Female</label>
                                                <input type="radio" id="female" name="Gender" value="false" required
                                               @*  @((user != null) ? "readonly" : "") *@
                                                    @(user != null && !user.Gender.GetValueOrDefault() ? "checked" : "")>
                                            </div>
                                            
                                        </div>
                                        
                                        <!-- <div class="elementor-field elementor-select-wrapper remove-before ">
                                                        <select name="form_fields[message]" id="form-field-message"
                                                            class="elementor-field-textual elementor-size-md" required="required"
                                                            aria-required="true">
                                                            <option value="Nam">Nam</option>
                                                            <option value="Nữ" selected="selected">Nữ</option>
                                                        </select>
                                                    </div> -->
                                        @* PhoneNumber *@
                                        <label for="form-field-name" class="elementor-field-label">
                                            Số điện thoại
                                        </label>
                                        <input name="PhoneNumber" type="number" placeholder="Nhập số điện thoại" required="required" aria-required="true"
                                                @* @((user != null) ? "readonly" : "") *@
                                               value="@((user != null) ? user.PhoneNumber : "")" />
                                        @* Email *@
                                        <label for="form-field-name" class="elementor-field-label">
                                            Địa chỉ Email
                                        </label>
                                        <input name="Email" type="text" placeholder="Nhập email" required="required" aria-required="true"
                                                @* @((user != null) ? "readonly" : "") *@
                                               value="@((user != null) ? user.Email : "")" />
                                        @* UserID *@
                                        @* <label for="form-field-name" class="elementor-field-label">
                                            Mã số bệnh nhân (nếu có)
                                        </label>
                                        <input name="UserID" type="text" placeholder="Enter mscn" /> *@
                                        @* InsuranceCode *@
                                        <label for="form-field-name" class="elementor-field-label">
                                            Mã số BHYT (nếu có)
                                        </label>
                                        <input name="InsuranceCode" type="text" placeholder="Nhập mã số BHYT"
                                               @*  @((user != null) ? "readonly" : "") *@
                                               value="@((user != null) ? user.InsuranceCode : "")" />
                                        @* MedicalDetail *@
                                        <label for="form-field-name" class="elementor-field-label">
                                            Triệu chứng/Nhu cầu khám (Không bắt buộc)
                                        </label>
                                        <textarea name="MedicalDetail" placeholder="Nhập triệu chứng" rows="5"
                                                  >
                                            @((medicalRecord != null) ? medicalRecord.MedicalDetail : "")
                                              </textarea>
                                        @* MedicalResult *@
                                        <label for="form-field-name" class="elementor-field-label">
                                            kết quả khám benh
                                        </label>
                                        <textarea name="MedicalResult" readonly rows="5"
                                                  >
                                            @((medicalRecord != null) ? medicalRecord.MedicalResult : "")
                                              </textarea>
                                        
                                        <button class="submit" type="submit">
                                            @((medicalRecord != null) ? "Cập nhật thông tin " : "Đăng kí")</button>

                                        @if (medicalRecord != null)
                                        {
                                            <button class="submit" onclick="submitFormCancel()">
                                                Hủy
                                            </button>
                                        }

                                    </form>
                                    @* <div class="submitButton">
                                    <button class="submit">Đăng kí</button>
                                    </div> *@
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>

    <div id="askForBooking" class="modal" style="background-color: #f0f0f0">

        <div class="title" style="background-color: #f0f0f0;text-align: center; margin-bottom">
            <strong style="font-size: 2rem; ">Bạn có muốn bốc số luôn không?</strong><br />
            <small style="font-size: 80%; font-weight: bold; color:#f1c40f">Chúng tôi sẽ bốc số thay cho bạn và bạn sẽ không cần phải tốn thời gian điền thông tin</small>
        </div>
        <div class="container" style="text-align:center; background-color: #ffffff; margin: 20px 0; padding: 10px 0">     
            <strong style="position: relative;font-weight: bold; font-size: 1.5rem">Số hiện tại</strong><br />
            <strong style="min-height:50px;position:relative;font-size:80px;line-height:80px;text-align:center;font-weight:700;padding:20px 15px 0;color:#62d2a2; position: relative;">@booking.Order</strong>
        </div>
        <div style="display: flex; justify-content: space-around; ">
            <div class="BtnOk">
                <button style="background-color: #65baad" onclick="bookRequestPost(@booking.BookingId)">Chấp Nhận</button>
            </div>
            <div class="BtnCancel" onclick="modalCancel(this)">
                <button class="closeButton">Close</button>
            </div>
       </div>
    </div>

    <div id="myModal" class="modal">
        <h4>Thông tin của bạn đã được gửi tới bác sĩ.</h4>
        <h4>Xin cảm ơn</h4>
        <div class="BtnClose">
            <button class="closeButton">Close</button>
        </div>
    </div>

    <script>
        
        
        


        // auto load
        document.addEventListener('DOMContentLoaded', function () {
            // display asking modal
            askForBookingModal(@medicalRecord);
        });

        // display message
        function activeModal() {
            if (@(isSucces.HasValue ? isSucces.ToString().ToLower() : "false")) {
                var modal = document.getElementById("myModal");
                modal.style.display = "block";
            }
        }
        // cancel bookng
        function submitFormCancel() {
            if(!confirm("Bạn có xác nhận hủy số thứ tự không "))
                return
            var form = document.getElementById('mainForm');
            form.action = "Booking/Cancel";
            form.submit();
        }

        activeModal();
    </script>
</section>
<!-- end contact section -->
